# NextAuth Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_GOOGLE_API_KEY=
NEXT_PUBLIC_GOOGLE_PICKER_APP_ID=

GOOGLE_API_KEY_SERVER=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Gemini API Configuration
GEMINI_API_KEY=

# Socket.IO Configuration
SOCKET_PORT=
NODE_ENV=
PORT=
