# NextAuth Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OpenRouter API Configuration
OPENROUTER_API_KEY=

# Socket.IO Configuration
SOCKET_PORT=
NODE_ENV=
PORT=